*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: white;
}

/* Media query at 576 px */

.navigation{
    display: flex;
    list-style: none;
    justify-content:flex-end;
}
.list-item{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 15px;
    font-size: 20px;
    cursor: pointer;
}
button{
    padding: 5px 10px;
    background: rgb(100, 100, 224);
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
    cursor: pointer;
}

.hero{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-line-1{
    display: flex;
}

h2{
    color: rgb(197, 197, 89);
}